<li>
	{{burger_name}}

	<button class="devour" data-id="{{id}}" data-newDevoured ="{{devour}}">
		{{#if devour}}DEVOUR THIS JUICE BURGER!{{else}}UN-DEVOUR THIS FAT BURGER!{{/if}}
	</button>
		<button class="delete" data-id="{{this.id}}">
		DELETE
	</button>
</li>
